@model IEnumerable<AnadoluRental.Models.Models.Sirket>
@{
    ViewBag.Title = "Şirket Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title</h2>

<div class="jumbotron">

    <a href="@Url.Action("YeniOlustur")">
        <button type="submit" class="btn btn-rounded btn-primary">Şirket Ekle</button>
    </a>
    <br />
    <br />

    <table class="table">
        <tr>
            <th>ID</th>
            <th>Şirket Adı</th>
            <th>Şehir</th>
            <th>Adres</th>
            <th>Araç Sayısı</th>
            <th>Puanı</th>
            <th>İşlemler</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.sirketID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sirketAdi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sirketSehir)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sirketAdres)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sirketAracSayisi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sirketPuani)
                </td>
                <td>
                    @Html.ActionLink("Düzenle", "Duzenle", new { id = item.sirketID }) |
                    @Html.ActionLink("Sil", "Sil", new { id = item.sirketID })
                </td>
            </tr>
        }
    </table>

</div>