@model AnadoluRental.Models.Models.Kiralik
@using AnadoluRental.Models.Models;
@{
    ViewBag.Title = "Düzenle";
    Layout = "~/Views/Shared/_Layout.cshtml";


    Kiralik gelenKiralik = Model;


    Kullanici gelenK = (Kullanici)Session["kull"];
    List<Kullanici> kullList = (List<Kullanici>)ViewBag.kullList;
    kullList = kullList.Where(kull => kull.kullRolID == 4).ToList();
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.kiraID)

        <div class="form-group">
            @Html.LabelFor(model => model.kiralananAracID, "Kiralanan Araç", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <label class="form-control" style="width:320px">@gelenKiralik.Arac.aracMarka @gelenKiralik.Arac.aracModel</label>


                @Html.HiddenFor(model => model.kiralananAracID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.kiralananAracID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.kiraTarihi, "Kiralanan Tarih", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.kiraTarihi, new { @type="date", @class = "form-control datepicker",  @Value = Model.kiraTarihi.ToString("yyyy-MM-dd") } )
                @Html.ValidationMessageFor(model => model.kiraTarihi, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.verilisKM, "Veriliş KMsi", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.verilisKM, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.verilisKM, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.kiraBitisKM, "Kiranın Bitiş KMsi", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.kiraBitisKM, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.kiraBitisKM, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.kiraAlinanUcret, "Alınan Ücreti", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.kiraAlinanUcret, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.kiraAlinanUcret, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.kiralayanKulID, "Kiralayan Müşteri", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("kiralayanMusteri", new SelectList(kullList.Select(x => new { Value = x.kullaniciID, Text = x.Ad + " " + x.Soyad }), "Value", "Text", gelenKiralik.Kullanici.kullaniciID), new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Düzenle" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Kiralama Listesine Geri Dön", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}