@model IEnumerable<AnadoluRental.Models.Models.Kiralik>
@using AnadoluRental.Models.Models
@{
    ViewBag.Title = "Kiralanan Araçlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title</h2>

<div class="jumbotron">
    <table class="table">
        <tr>
            <th>Kiralayan</th>
            <th>Resim</th>
            <th>Marka Model</th>
            <th>Kiralanan Tarih</th>
            <th>Veriliş(KM)</th>
            <th>Kiralama Bitiş(KM)</th>
            <th>Alınan Ücreti</th>
            <th>İşlemler</th>
        </tr>

        @foreach (Kiralik item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Kullanici.Ad) @Html.DisplayFor(modelItem => item.Kullanici.Soyad)
                </td>
                <td>
                    <img src="~/@item.Arac.aracResim" height="80" width="80" />
                </td>
                <td>
                    @item.Arac.aracMarka @item.Arac.aracModel
                </td>
                <td>
                    @item.kiraTarihi.ToString(string.Format("dd/MM/yyyy"))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.verilisKM) KM
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.kiraBitisKM) KM
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.kiraAlinanUcret) ₺
                </td>
                <td>
                    <a href="@Url.Action("Duzenle", new { id = item.kiraID })">
                        <button type="submit" class="btn btn-rounded btn-info">Güncelle</button>
                    </a>
                    <br />
                    <a href="@Url.Action("Sil", new { id = item.kiraID })">
                        <button type="submit" class="btn btn-rounded btn-danger">Kirayi Kaldır</button>
                    </a>
                </td>
            </tr>
        }
    </table>
</div>