@model AnadoluRental.Models.Models.Kiralik
@{
    ViewBag.Title = "Yeni Oluştur";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.kiralananAracID, "Kiralanan Aracın IDsi", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.kiralananAracID, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.kiralananAracID, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.kiraTarihi, "Kiralanan Tarih", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.kiraTarihi, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.kiraTarihi, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.verilisKM, "Veriliş KMsi", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.verilisKM, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.verilisKM, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.kiraBitisKM, "Kiranın Bitiş KMsi", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.kiraBitisKM, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.kiraBitisKM, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.kiraAlinanUcret, "Alınan Ücreti", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.kiraBitisKM, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.kiraAlinanUcret, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.kiralayanKulID, "Kiralayan Kullanıcının IDsi", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.kiralayanKulID, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.kiralayanKulID, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Oluştur" class="btn btn-default" />
        </div>
    </div>
</div>
}
<div>
    @Html.ActionLink("Kiralama Listesine Geri Dön", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}