@model IEnumerable<AnadoluRental.Models.Models.Arac>
@using AnadoluRental.Models.Models;
@{
    ViewBag.Title = "Araç Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";

    
    Kullanici gelenK = null;
    if (Session["kull"] != null)
    {
        gelenK = (Kullanici)Session["kull"];
    }

}
<h2>@ViewBag.Title</h2>

@if (gelenK != null && gelenK.kullRolID != 4)
{
<p>
    @Html.ActionLink("Yeni Oluştur", "YeniOlustur")
</p>
}

<table class="table">
    <tr>
        <th>ID</th>
        <th>Aracın Markası</th>
        <th>Aracın Modeli</th>
        <th>Gereken Ehliyet Yaşı</th>
        <th>Minimum Yaş Sınırı</th>
        <th>Günlük Sınır KMsi</th>
        <th>Aracın KMsi</th>
        <th>Airbag Sayısı</th>
        <th>Bagaj Hacmi</th>
        <th>Koltuk Sayısı</th>
        <th>Günlük Kiralik Fiyatı</th>
        <th>Ait Olduğu Şirketi</th>
        @if (gelenK != null && gelenK.kullRolID != 4)
        {
            <th>İşlemler</th>
        }
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.aracID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.aracMarka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.aracModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gerekenEhliyetYasi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.minYasSiniri)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gunlukSinirKM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.aracKM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.airBagSayisi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bagacHacmi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.koltukSayisi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gunlukKiralikFiyati)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sirket.sirketAdi)
                
            </td>

            @if (gelenK != null && gelenK.kullRolID != 4)
            {
                <td>
                    @Html.ActionLink("Düzenle", "Duzenle", new { id = item.aracID })
                    <br />
                    @Html.ActionLink("Sil", "Sil", new { id = item.aracID })
                </td>
            }
        </tr>
    }
</table>